[submodule "libs/BRC-CommonAPI"]
	path = libs/BRC-CommonAPI
	url = https://github.com/LazyDuchess/BRC-CommonAPI
[submodule "libs/SlopCrew"]
	path = libs/SlopCrew
	url = https://github.com/SlopCrew/SlopCrew
[submodule "libs/BombRushCamera"]
	path = libs/BombRushCamera
	url = https://github.com/NotNite/BombRushCamera
